*.xml
*.class
assignment1/temp.txt

*.csv
*.log
*.gz
*.aux
assignment2/trunk/a280-TTP.Will.1410480284024
assignment2/trunk/a280-TTP.Will.1411194174699
assignment2/trunk/batchRuns.sh
assignment2/trunk/batchRuns2.sh
assignment2/trunk/batchRuns.sh